/* body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  margin: 0;
  padding-top: 10px;
  background-color: #333;
  color: white;
  .title {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgb(66, 66, 66);
    text-shadow: 2px 2px 8px #000;

    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 10vw;
    font-weight: 900;
  }
  span.zaman {
    display: inline-block;
    padding: 5px;
    color: #ccc;
  }
}

.todo-form {
  display: flex;
  margin-top: 10px;
}
.todo-input {
  flex: 1;
  margin-left: 5px;
  border-radius: 15px;
}
.todo-button {
  float: right;
  width: 54px;
  height: 54px;
  font-weight: 900;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 1rem;
  border-radius: 15px;
}

.todo {
  border: 1px solid #ccc;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

 */

li.todo-item {
  flex: 1;
  list-style-type: none;
  align-self: stretch;
}
.todo-list {
  padding-inline-start: 0;
  line-height: 45px;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

//
@media screen and (min-width: 480px) {
  button.submit {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
  }
}
